
.BuffersListView {
    cursor: default;
    display: block;
    // width: 100%;
  }

  .BufferListItemView {
    position: relative;
    background: rgb(75, 75, 75);
    margin-left: 8px;
    margin-right: 8px;
    padding-left: 4px;
    margin-top: 4px;
    padding-top: 0px;
    padding-bottom: 3px;
    display: block;
    div {
      display: inline-block;
      height: 20px;
    }
    .Handle {
      padding-left: 4px;
      cursor: row-resize;
      width: 15px;
      height: 15px;
      padding-right: 4px;
    }
    .BufferSettings, .BufferRemove {
      cursor: pointer;
      width: 15px;
      height: 15px;
      text-align: right;
      color:rgba(255, 255, 255, 0.5);
    }
    .BufferSettings {
      position: relative;
      top: -1px;
      padding-right: 8px;
    }
    .BufferRemove {
      position: absolute;
      right: 6px;
      top: 1.5px;
    }
    .BufferSettings:hover {
      color: rgba(255, 255, 255, 0.9);
    }
    .BufferRemove:hover {
      color: rgb(255, 0, 0);
    }
    .BufferPreview {
      cursor: pointer;
      &:hover {
        color: rgba(255, 255, 255, 0.9);
      }
      position: relative;
      top: 1px;
      margin-top: -10px;
      font-size: 18px;
      color:rgba(255, 255, 255, 0.5);
      &.Enabled {
        text-shadow: 0px 0px 4px rgb(255, 255, 255);
        color: rgba(255, 255, 255, 1);
      }
    }
  }
