html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#content {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

div.settingsScrollBox {
    max-height: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.HeaderWindow {
    position: fixed;
    top: 3px;
    left: 7px;
    height: fit-content;
    width: fit-content;
    background: rgba(35, 35, 35, 0.95);
    color: rgba(255, 255, 255, 0.9);
    border: 0.5px solid rgba(255, 255, 255, 0.25);
    padding: 8px;
    opacity: 0.5;
    overflow: hidden;
    transition: 0.5s;
}
div.Settings:hover,
div.Settings.hover {
    background: rgba(0, 0, 0, 0.75);
    opacity: 1;
    transition: 0.5s;
}

div.Settings.hidden {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.1);
    color: rgba(255, 255, 255, 0.5);
    border: 0.5px solid rgba(255, 255, 255, 0.1);
    padding: 3px;
    border-radius: 50%;
    /* transition: 0.25s; */
}

div.Settings.hidden:hover {
    color: rgba(255, 255, 255, 0.75);
    border: 0.5px solid rgba(255, 255, 255, 0.25);
    background: rgba(0, 0, 0, 0.75);
    transition: 0.25s;
}

.vectorInputBox {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

.vectorInput2 {
    display: inline-block;
    width: 48.5%;
}

.vectorInput3 {
    display: inline-block;
    width: 31.25%;
}

.vectorInput4 {
    display: inline-block;
    width: 22.5%;
}

input {
    color:rgba(255, 255, 255, 0.9);
    background: rgba(0, 0, 0, 1.0);
    font-size: 8pt;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    border: 1px solid rgba(150, 150, 150, 0.5);
    padding: 1px;
    padding-left: 2px;
    margin: 0;
}

input:hover {
    border: 1px solid rgba(255, 255, 255, 0.5);
}

input:focus,
input:active,
input:focus:active {
    color:rgba(255, 255, 255, 1.0);
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.inputBox {
    display:inline-block;
    position: relative;
    width: 150px;
}

div.errorMessage {
    position: fixed;
    right: 3px;
    bottom: 7px;
    margin-left: 7px;
    background: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 0.9);
    border: 0.5px solid rgba(255, 0, 0, 0.25);
    padding: 8px;
    white-space: pre-wrap;
    font-family: 'Courier New', Courier, monospace;
}

div.button {
    cursor: pointer;
    user-select: none;
    border: 0.5px solid rgba(255, 255, 255, 0.15);
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;

    margin-top: 4px;
    margin-bottom: 1px;
    padding-top: 1px;
    padding-bottom: 4px;

    color: rgba(255, 255, 255, 0.75);
    background: #2c2c2c;
    transition: 0.1s;
}

div.button:hover {
    background: #3c3c3c;
    border: 0.5px solid rgba(255, 255, 255, 0.45);
    transition: 0.1s;
}

div.button:active {
    background: #1c1c1c;
    border: 0.5px solid rgba(255, 255, 255, 0.65);
}

div.Settings.hidden div.button {
    margin-top: 0px;
    margin-left: 2px;
    margin-right: 2px;
    position: relative;
    top: -2px;
    border: none;
    width: auto;
    padding-top: 0px;
    padding-bottom: 0px;
    background: transparent;
    transition: 0.1s;
}

.column1 {
    cursor: default;
    font-size: 12px;
    text-align: right;
    font-family: -apple-system, BlinkMacSystemFont, Segoe WPC, Segoe UI, HelveticaNeue-Light, Ubuntu, Droid Sans, sans-serif
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
}


div.HeaderWindow.textureSettings:hover {
    background: rgba(0, 0, 0, 0.75);
    opacity: 1;
    transition: 0.25s;
}

table.textureSettingsTable {
    border-collapse:collapse;
    width: 100%;
}

table.textureSettingsTable td {
    /* width: 100%; */
    vertical-align: top;
}

table.textureSettingsTable tr td:first-child {
    text-align: right;
    padding-left: 16px;
    padding-right: 8px;
}

table.textureSettingsTable tr {
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
}

table.textureSettingsTable tr td:nth-child(1) {
    width: 60px;
}

table.textureSettingsTable tr:not(:last-child) {
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
    border-bottom: 1pt solid black;
}

table.textureSettingsTable td:first-child {
    border-right: 1pt solid black;
}

table.textureSettingsInnerTable {
    width: 100%;
}

table.textureSettingsInnerTable tr td:not(:last-child) {
    width: 75px;
    text-align: right;
}

table.textureSettingsInnerTable tr td:last-child {
    text-align: left;
}

table.textureSettingsInnerTable input[type=checkbox] {
    width: fit-content;
}

table.textureSettingsTable select {
    background: black;
    color: white;
    border: 1px solid grey;
    width: 75px;
}

.Header {
    position: absolute;
    width: 100%;
    margin-top: -8px;
    margin-bottom: 0;
    margin-left: -8px;
    margin-right: -8px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    background: rgba(55, 55, 55, 0.8);
    cursor: default;
    height: 16px;
    /* overflow: hidden; */
}

.Header .CloseButton {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: auto;
    right: auto;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: auto;
    padding-left: 13px;
    padding-right: 8px;
    font-size: 16px;
    color: #FFF;
    line-height: 16px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 18px;
    background: transparent;
}
.Header .CloseButton:hover {
    background: red;
}
.Header .CloseButton::before,
.Header .CloseButton::after {
    position: absolute;
    content: '';
    width: 14px;
    height: 1px; /* cross thickness */
    background-color: white;
}

.Header .CloseButton::before {
    transform: rotate(45deg);
}

.Header .CloseButton::after {
    transform: rotate(-45deg);
}

div.textureSettingsHeader {
    position: absolute;
    width: 100%;
    margin-top: -8px;
    margin-bottom: 0;
    margin-left: -8px;
    margin-right: -8px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
}

div.HeaderSpacer {
    height: 32px;
    font-size: 14pt;
}

.textureSettingsHeaderTextureName {
    font-weight: bolder;
}

div.textureSettingsHeader .button {
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
    top: 3px;
    left: 3.5px;
    padding-top: -2px;
    padding-left: 0px;
}

div.textureSettingsActivationButton {
    display: inline;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.75);
}

div.textureSettingsActivationButton:hover {
    display: inline;
    cursor: pointer;
    color: rgba(255, 255, 255, 1.0);
}

div.displayFileInput {
    cursor: pointer;
}

div.displayFileInput:hover {
    color: rgba(225, 175, 110, 0.9);
}

div.displayOpen {
    display: inline-block;
    padding-right: 5px;
    padding-bottom: 2px;
}

div.displayFilename {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px;
    position: relative;
    top: 3px;
}

table.settings {
    padding-right:5px;
}

input.ifdefCheckbox {
    width: fit-content;
}

div.errorMessageLine.mainMessage {
    font-weight: bolder;
    color: rgba(225, 225, 225, 0.9);
}

div.errorMessage div.errorMessageLine div {
    display: inline;
}

div.errorMessage div.filename::after,
div.errorMessage div.line::after,
div.errorMessage div.column::after,
div.errorMessage div.warning::after,
div.errorMessage div.error::after {
    content: ":";
    color: rgba(255, 255, 255, 0.5);
}

div.errorMessage div.line {
    color: rgba(255, 255, 255, 1);
}

div.errorMessage div.errorLocation:hover div.line {
    color: inherit;
}

div.errorMessage div.error::before {
    content: " ";
}

div.errorMessage div.errorLocation {
    cursor: pointer;
}

div.errorMessage div.errorLocation:hover {
    color: rgba(225, 225, 255, 1.0);
}

div.errorMessage div.message::before {
    content: " ";
}

div.errorMessage div.level.error {
    color:rgba(255, 125, 125, 0.9);
}

div.errorMessage div.level.warning {
    color:rgba(195, 195, 0, 0.9);
}

div.errorMessage {
    max-height: 50%;
    width: auto;
    overflow-y: auto;
    overflow-x: hidden;
}

#errorFrame {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    background: repeating-linear-gradient(
        45deg,
        rgba(255, 125, 125, 0.5),
        rgba(255, 125, 125, 0.5) 40px,
        rgba(0, 0, 0, 0.1) 40px,
        rgba(0, 0, 0, 0.1) 90px
      );
}

#errorFrame.fixed {
    background: repeating-linear-gradient(
        45deg,
        rgba(125, 255, 125, 0.25),
        rgba(125, 255, 125, 0.25) 40px,
        rgba(0, 0, 0, 0.01) 40px,
        rgba(0, 0, 0, 0.01) 90px
      );
}

.floatScrollMarker {
    width: 100px;
    height: 100px;
    position: fixed;
    background: transparent;
    color: rgba(225, 225, 225, 0.9);
    cursor: w-resize;
}
.floatScrollMarker p {
    position: absolute;
    left: 50%;
    top: 50%;
    text-shadow: 2px 2px #000000;

}

div.settingsHeader {
    cursor: default;
    user-select: none;
    position: absolute;
    width: 100%;
    margin-top: -8px;
    margin-bottom: 0;
    margin-left: -8px;
    margin-right: -8px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
}

div.settingsHeaderSpace {
    user-select: none;
    height: 26px;
    font-size: 14pt;
}

.ModeSwitch {
    margin-top: 0px;
    margin-bottom: 6px;
}

.ModeSwitch .Label,
.ModeSwitch .Mode {
    display: inline-block;
}

.ModeSwitch .Label {
    user-select: none;
    cursor: default;
    position: relative;
    top: 3.5px;
    padding-right: 10px;
}

.ModeSwitch .Mode {
    width: 35px;
    height: 22px;
    cursor: pointer;
    user-select: none;
    border: 0.5px solid rgba(255, 255, 255, 0.15);
    text-align: center;
    color: rgba(255, 255, 255, 0.75);
    background: #2c2c2c;
    transition: 0.1s;
    margin-right: 5px;
}

.ModeSwitch .Mode.Active {
    background: #6c6c6c;
}

.ModeSwitch .Mode .Content {
    position: relative;
    top: 1.5px;
}

.ModeSwitch .Mode:hover {
    background: #3c3c3c;
    border: 0.5px solid rgba(255, 255, 255, 0.45);
    transition: 0.1s;
}
.ModeSwitch .Mode.Active:hover {
    background: #8c8c8c;
    border: 0.5px solid rgba(255, 255, 255, 0.45);
    transition: 0.1s;
}

div.settingsHeader .button {
    display: block;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
    top: 3px;
    left: 3.5px;
    padding-top: -2px;
    padding-left: 0px;
}


@keyframes MOVE-BG {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(130px);
	}
}

.loading {
	height: auto;
    text-align: center;
    color: #4c3f2e;
    position: relative;
    overflow: hidden;
	padding: 1rem;
	margin: 3%;
	font-style: italic;
}

.loadingIndicator .background {
    position: absolute;
    left: -146px;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;

    background: repeating-linear-gradient(
        45deg,
        rgb(133, 97, 0),
        rgb(133, 97, 0) 40px,
        rgba(0, 0, 0, 0.1) 40px,
        rgba(0, 0, 0, 0.1) 90px
      );

    animation-name: MOVE-BG;
	animation-duration: 1.0s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

div.loadingIndicator {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 999999999999;

    display: flex;
    align-items: center;
    justify-content: center;
}

div.loadingIndicator div.text {
    color: white;
    position: fixed;
    width: 250px;
    height: 50px;
    border: 3px solid rgb(136, 100, 0);
    box-shadow: 5px 5px 50px 0px rgba(0,0,0,0.25);
    background: rgb(0, 0, 0);
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

div.contextMenu {
    position: fixed;
    width: fit-content;
    height: fit-content;
    top: 0px;
    left: 0px;
    cursor: default;
    background: rgba(0, 0, 0, 0.75);
    color: rgba(255, 255, 255, 0.9);
    border: 0.5px solid rgba(255, 255, 255, 0.25);
}

div.contextMenuItem
{
    cursor: default;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    min-width: 75px;
}

div.contextMenuItem:hover
{
    background: rgba(255, 255, 255, 0.1);
}

.buttons
{
    width: 100%;
}

.buttons .button
{
    margin-left: 4px;
    margin-right: 4px;
    display: inline-block;
    width: 100px;
    padding-top: 3px;
    height: 17px;
}

.BuffersList
{
    cursor: default;
    display: block;
    width: 100%;
}

.BuffersListItem
{
    display: block;
}

.BuffersListItem div
{
    display: inline-block;
    height: 25px;
}

.BuffersListItem .Handle
{
    cursor: row-resize;
    width: 15px;
    height: 15px;
}

.BuffersListItem .BufferSettings,
.BuffersListItem .BufferRemove
{
    cursor: pointer;
    width: 15px;
    height: 15px;
    text-align: right;
}

.BuffersListItem .BufferSettings:hover
{
    color: rgb(255, 255, 0);
}

.BuffersListItem .BufferRemove:hover
{
    color: rgb(255, 0, 0);
}
